<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register name="EmployeeAddService"
                type="PayCalculator.core.Model.Common.IBusinessService, PayCalculator.core.Model"
                mapTo="PayCalculator.core.BusinessServices.Employee.EmployeeAddService, PayCalculator.core.BusinessServices" />

      <register type="PayCalculator.core.Model.Employee.IEmployeeDao, PayCalculator.core.Model"
                mapTo="PayCalculator.core.DAO.Employee.EmployeeDao, PayCalculator.core.DAO" />

      <register type="PayCalculator.core.Model.Employee.IEmployee, PayCalculator.core.Model"
                mapTo="PayCalculator.core.BusinessObjects.Employee.Employee, PayCalculator.core.BusinessObjects" />

      <register name="EmployeeLookupService"
                type="PayCalculator.core.Model.Common.IBusinessService, PayCalculator.core.Model"
                mapTo="PayCalculator.core.BusinessServices.Employee.EmployeeLookupService, PayCalculator.core.BusinessServices" />

      <register name="DefaultTaxDeductionRule"
               type="PayCalculator.core.Model.Tax.ITaxCalculator, PayCalculator.core.Model"
               mapTo="PayCalculator.core.BusinessObjects.Tax.DefaultTaxCalculator, PayCalculator.core.BusinessObjects" />

      <register name="DefaultTaxDeductionRule"
               type="PayCalculator.core.Model.Salary.IDeductionRule, PayCalculator.core.Model"
               mapTo="PayCalculator.core.BusinessObjects.Salary.DefaultTaxDeductionRule, PayCalculator.core.BusinessObjects" />

      <register name="DefaultCoreSalaryStrategy"
               type="PayCalculator.core.Model.Salary.ISalaryStrategy, PayCalculator.core.Model"
               mapTo="PayCalculator.core.BusinessObjects.Salary.DefaultCoreSalaryStrategy, PayCalculator.core.BusinessObjects" />

      <register name="DefaultCoreDeductions"
               type="PayCalculator.core.Model.Salary.IDeductions, PayCalculator.core.Model"
               mapTo="PayCalculator.core.BusinessObjects.Salary.DefaultCoreDeductions, PayCalculator.core.BusinessObjects" />

      <register type="PayCalculator.core.Model.Location.ILocationFactory, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Location.LocationFactoryExt, PayCalculator.Ext.BusinessObjects" />

      <register name="DefaultTaxCalculator"
                type="PayCalculator.core.Model.Tax.ITaxCalculator, PayCalculator.core.Model"
                mapTo="PayCalculator.core.BusinessObjects.Tax.DefaultTaxCalculator, PayCalculator.core.BusinessObjects" />

      <register name="EmployeeCalculateSalaryService"
                type="PayCalculator.core.Model.Common.IBusinessService, PayCalculator.core.Model"
                mapTo="PayCalculator.core.BusinessServices.Employee.EmployeeCalculateSalaryService, PayCalculator.core.BusinessServices" />

      <!--Australia-->
      <register name="AustraliaLocation"
                type="PayCalculator.core.Model.Location.ILocation, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Location.AustraliaLocation, PayCalculator.Ext.BusinessObjects" />

      <register name="AustraliaSalaryStrategy"
                type="PayCalculator.core.Model.Salary.ISalaryStrategy, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Salary.Australia.AustraliaSalaryStrategy, PayCalculator.Ext.BusinessObjects" />

      <register type="PayCalculator.Ext.Model.Salary.IAustraliaSalaryDeductions, PayCalculator.Ext.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Salary.Australia.AustraliaSalaryDeductions, PayCalculator.Ext.BusinessObjects" />

      <register name="IncomTaxDeductionRule"
               type="PayCalculator.core.Model.Salary.IDeductionRule, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Salary.Australia.DeductionRules.IncomeTaxDeductionRule, PayCalculator.Ext.BusinessObjects" />

      <register name="MedicareLevyDeductionRule"
               type="PayCalculator.core.Model.Salary.IDeductionRule, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Salary.Australia.DeductionRules.MedicareLevyDeductionRule, PayCalculator.Ext.BusinessObjects" />

      <register name="BudgetRepairTaxDeductionRule"
               type="PayCalculator.core.Model.Salary.IDeductionRule, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Salary.Australia.DeductionRules.BudgetRepairTaxDeductionRule, PayCalculator.Ext.BusinessObjects" />

      <register type="PayCalculator.Ext.Model.Tax.IAustraliaDecoratableTaxCalculator, PayCalculator.Ext.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Tax.Australia.IncomeTaxCalculator, PayCalculator.Ext.BusinessObjects" />

      <register name="AustraliaIncomeTaxCalculator"
                type="PayCalculator.core.Model.Tax.ITaxCalculator, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Tax.Australia.LowIncomeTaxOffsetTaxCalculatorDecorator, PayCalculator.Ext.BusinessObjects" />

      <register name="AustraliaMedicareLevyCalculator"
                type="PayCalculator.core.Model.Tax.ITaxCalculator, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Tax.Australia.MedicareLevyTaxCalculator, PayCalculator.Ext.BusinessObjects" />

      <register name="AustraliaBudgetRepairTaxCalculator"
                type="PayCalculator.core.Model.Tax.ITaxCalculator, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Tax.Australia.BudgetRepairTaxCalculator, PayCalculator.Ext.BusinessObjects" />


      <!--Germany-->
      <register name="GermanyLocation"
                type="PayCalculator.core.Model.Location.ILocation, PayCalculator.core.Model"
                mapTo="PayCalculator.Ext.BusinessObjects.Location.GermanyLocation, PayCalculator.Ext.BusinessObjects" />

    </container>
  </unity>
</configuration>